.lobbyContainer {
    flex: 1;
    padding: 5%;
    z-index: 1;
}

.lobbyContent {
    z-index: 1;
    position: relative;
}

.bg {
    background: linear-gradient(135deg, #cbdae5 0%, #e9e7d1 100%);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.lobby {
    color: black;
}

.emoji {
    width: 32px;
}

.logo {
    max-width: 20%;
    min-width: 250px;
    margin: 0 auto;
}