.lobbyContainer {
    flex: 1;
    padding: 5%;
    z-index: 1;
}

.lobbyContent {
    z-index: 1;
    position: relative;
}

.bg {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.25;
    z-index: 0;
}

.lobby {
    color: black;
}

.emoji {
    width: 32px;
}